<h1>/Issue</h1>

<p>
  <b>Description</b><br>
  <%= @issue.description %>
</p>

<div class="form-actions">
  <%= link_to 'Back', issues_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_issue_path(@issue), :class => 'btn' %>
  <%= link_to 'Delete', issue_path(@issue), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
