<div class="header">
	<h3>Ger&ecirc;ncia de Documentos</h3>
</div>
	
<div id="startText" >
	<p>
		Sapienti &eacute; um sistema simples e de f&aacute;cil utiliza&ccedil;&atilde;o.
		Ele foi criado de acordo com as melhores pr&aacute;ticas de usabilidade, tornando
		a navega&ccedil;&atilde;o do usu&aacute;rio uma tarefa simples e intuitiva.
	</p>
	<p>
		As principais caracter&iacute;sticas do Sapienti s&atilde;o:
		<ul class="features">
			<li>Cadastro de documentos;</li>
			<li>Cadastro de assuntos, empresas, e departamentos, que permitem padronizar o cadastro
				de documentos;</li>
			<li>Consultas de documentos;</li>
			<li>Cadastro de usu&aacute;rios;</li>
			<li>Empr&eacute;stimo de documentos;</li>
			<li>Relat&oacute;rio de documentos.</li>
		</ul>
	</p>
</div>
