	<div class="header">
		<h3>Ger&ecirc;ncia de Documentos</h3>
	</div>
	
	<div id="startText" style="min-height: 286px;">
		<p>
			Este &eacute; um programa de ger&ecirc;ncia de documentos, especialmente 
			desenvolvido para a empresa A.C. de Athayde Neto, com o objetivo de 
			controlar o arquivamento de documentos, bem como permitir r&aacute;pida 
			localiza&ccedil;&atilde;o no arquivo f&iacute;sico.
		</p>
		<p>
			Para ter acesso ao sistema, &eacute; preciso se autenticar, informando seu login e senha nos 
			campos abaixo.
		</p>		
		
		<div id="login">
			
		</div>
	</div>