		<div class="header">
			<h3>Ger&ecirc;ncia de Documentos</h3>
		</div>
	
	<div id="startText" >
		<p>
			Sapienti &eacute; um sistema simples e de f&aacute;cil utiliza&ccedil;&atilde;o.
			Ele foi criado de acordo com as melhores pr&aacute;ticas de usabilidade, tornando
			a navega&ccedil;&atilde;o do usu&aacute;rio uma tarefa simples e intuitiva.
		</p>
		<p>
			As principais caracter&iacute;sticas do Sapienti s&atilde;o:
			<ul class="features">
				<li>Cadastro de documentos;</li>
				<li>Cadastro de assuntos, empresas, e departamentos, que permitem padronizar o cadastro
					de documentos;</li>
				<li>Consultas de documentos;</li>
				<li>Empr&eacute;stimo de documentos;</li>
				<li>Relat&oacute;rio de documentos.</li>
			</ul>
		</p>
	</div>


		<div class="header">
			<h3>Precisa de ajuda&#63;</h3>
		</div>
	
	<div id="startText2" >
		<p>
			Algumas telas possuem um &iacute;cone que, ao ser clicado, abre uma nova janela
			contendo dicas sobre a utiliza&ccedil;&atilde;o daquela tela.  
		</p>
		<p>
			Sempre que voc&ecirc; sentir dificuldades para realizar alguma opera&ccedil;&atilde;o,
			procure por esse &iacute;cone.
		</p>
	</div>
	
	<div id="img_home">
		<img src="img/icone_ajuda.jpg"/>
	</div>
</h:form>