<h1>Empresas</h1>
<div class="new"><%= link_to 'Novo', new_company_path, :class => 'btn btn-primary ' %></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td>
          <%= link_to 'Editar', edit_company_path(company), :class => 'btn btn-mini' %>
          <%= link_to 'Deletar', company_path(company), :method => :delete, :confirm => 'Tem certeza?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>