/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

h1 {
	display: inline;
}

.btn-mini:visited {
	color: #333 !important;
}

.btn-primary:visited, .btn-info:visited {
	color: white !important;
}

.btn-danger:visited, .btn-info:visited {
	color: white !important;
}

.search {
	margin-top: 15px;
}

.search legend {
	font-size: 12px;
	margin: -10px 0 10px 0;
	padding: 0 0 5px 0;
	line-height: 12px;
}

.new {
	display: inline;
}

.new a {
	margin: -10px 0 0 10px;
}

.form-inline select {
	width: 20%;	
}


.field_with_errors {
	background-color: transparent !important;
}

.field_with_errors > label, .field_with_errors .help-block, .field_with_errors .help-inline > label {
	color: #B94A48;
}

.field_with_errors input, .field_with_errors select, .field_with_errors textarea {
	color: #B94A48;
	border-color: #B94A48;
}

.notice {
	background-color: #DFF0D8 !important;
	border-color: #D6E9C6 !important;
	color: #468847 !important;
}

.empty {
	margin-top: 10px;
}